
{% raw %}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Comercial </title>
    <!-- Aquí va el CSS completo como en la plantilla original -->
</head>
<body>
<div id="watermark">
    <img src="https://visorurbano.com/assets/img/logo.png" height="100%" width="100%" >
</div>
<footer>
  <div style="margin:20px;">
    La fuente de consulta de la información aquí mostrada ha sido obtenida de la base de datos publicada por el INEGI.
    <br>
  </div>
</footer>
<main>
    <div class="invoice-box">
        <div class="row">
            <div class="col-4">
                <img src="https://visorurbano.com/assets/img/logo.png" style="width:100%; max-width:178px;">
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <img src="{{ logo }}" style="width:250px; max-width:250px; margin-top:-10px;">
            </div>
        </div>

        <h3 align="center" class="">Diagnóstico Comercial</h3>

        <div class="row">
            <div class="col-12">
                <div align="justify">
                    Agradeciendo su interés por establecer un negocio de 
                    <div style="font-weight: bold;">{{ businesses }}</div> en este Estado de Jalisco...
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <table class="styled-table p-parrafo-full border-table">
                    <tr>
                        <td>
                            <p class="p-title">Información del análisis:</p>
                            <div>
                                <div><b>Actividad Comercial:</b>
                                    <p>{{ businesses }}</p>
                                </div>
                                <hr/>
                                <div><b>Área del diagnóstico:</b>
                                    <p>{{ area }}</p>
                                </div>
                                <hr/>
                                <div><b>Municipio(s):</b>
                                    <p>{{ municipality }}</p>
                                </div>
                                <hr/>
                                <div><b>Negocios encontrados:</b>
                                    <p>{{ data | length }}</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-6">
                <img src="{{ image }}" style="width:340px;height:340px;margin-top:50px;" alt="">
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-12">
                <b class="color-v2">Tomando en cuenta los datos antes señalados...</b>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="w3-table w3-striped w3-border">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre del negocio</th>
                            <th>Ubicado en</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i, item in enumerate(data[:200], start=1) %}
                            {% set props = item.properties %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ props.nombre_comercial }}</td>
                                <td>{{ props.tipo_vialidad }} {{ props.nombre_vialidad }} #{{ props.numero_exterior }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</main>
</body>
</html>
{% endraw %}
